<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo-texto.png" alt="believe-outsourcing" width="100px">
        </a>
        <ul class="navbar-nav">
            <li>
                <a class="nav-item" href="">Inicio</a>
            </li>
            <li>
                <a class="nav-item" href="">Nosotros</a>
            </li>
            <li>
                <a class="nav-item" href="">Servicios</a>
            </li>
            <li>
                <a class="nav-item" href="">Contáctenos</a>
            </li>

        </ul>
    </div>
</nav>