<app-navbar></app-navbar>
<section id="inicio">
    <div class="card" style="width: 80vw;">
        <div class="img">
            <img style="border-radius: 10px;" src="../assets/img/outsourcing.jpg" alt="believe-outsourcing" width="100%">
        </div>
        <div class="content">
            Tercerice sus procesos de licitación con el Estado. <br>Aumente su probabilidad de éxito al licitar con <span id="PROFESIONALISMO">PROFESIONALISMO</span>
        </div>


    </div>

</section>
<section style="height: 400px; border: 10px solid red;" id="nosotros">Segunda</section>
<section style="height: 400px; border: 10px solid red;" id="servicios">Tercera</section>
<section style="height: 400px; border: 10px solid red;" id="cards">Cuarta</section>
<section style="height: 400px; border: 10px solid red;" id="contactenos">Quinta</section>
<app-footer></app-footer>